@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}
html{
    font-family: "Manrope", sans-serif;
}

.full-prompt-tooltip {
  max-width: 480px !important;
  white-space: pre-wrap !important;
  font-size: 13px !important;
  line-height: 1.5 !important;
}