<section class="prompt-page">
  @if(promptControl.value.length===0){
  <app-hero></app-hero>
  }
  <header class="prompt-header">
    <app-prompt-meta-row [tokenCount]="tokenCount" [currentLength]="promptControl.value.length"
      [maxLength]="maxPromptLength" [score]="score" />

  </header>
  @if(!suggestedPrompt){
  <form class="prompt-form" [formGroup]="promptForm" (ngSubmit)="onSubmit()">
    <textarea id="promptText" class="prompt-input base-textarea" formControlName="promptText"
      [maxLength]="maxPromptLength" placeholder="Type your prompt here..."
      [class.gradient-progress]="isAnalyzing"></textarea>


    <div class="action-row">


      <button type="submit" mat-raised-button color="accent" [disabled]="!canSubmit">
        <mat-icon *ngIf="!isAnalyzing">auto_awesome</mat-icon>
        <mat-icon *ngIf="isAnalyzing">hourglass_top</mat-icon>

        {{ isAnalyzing ? 'Analyzing...' : 'Optimize' }}
      </button>

    </div>
  </form>
  }
  <div class="prompt-analysis-section">
    @if (suggestedPrompt) {
    <app-suggested-prompt
      [originalPromptText]="originalPromptText"
      [formattedPromptText]="formattedPromptText"
      [suggestedPrompt]="suggestedPrompt"
      (reAnalyze)="onReAnalyze($event)"
      (promptEdited)="onPromptEdited($event)"
    ></app-suggested-prompt>
    }
    <div>
      @if (meta) {
      <app-meta-donut [meta]="meta"></app-meta-donut>
      }
      @for (item of analysisResult; track item) {
      <app-prompt-analysis-panel [analysis]="item" [isLoading]="isAnalyzing" [promptText]="originalPromptText" />
      }
    </div>
  </div>
</section>
@if(promptControl.value.length>0){
<button class="new-prompt-btn" type="button" mat-fab color="primary" (click)="initiateNewPrompt()">
  <mat-icon>add_2</mat-icon>
  <div class="new-prompt-btn-text">New Prompt</div>
</button>
}