// .app-shell {
//   // height: 100dvh;
//   background: #ebedf3;
// }

// mat-sidenav-container.app-shell {
//   // height: 100dvh;
//   overflow: hidden; /* prevent container scroll */
// }

// .app-sidenav {
//   width: 240px;
// }

// .app-main-surface {
//   display: flex;
//   flex-direction: column;
//   // height: 100%;      /* instead of min-height */
//   // overflow: hidden;  /* prevents extra scroll */
// }

// .app-content {
//   width: min(1120px, 100% - 2.5rem);
//   margin: 0 auto;
//   padding: 1.25rem 0 2rem;
//   flex: 1;
//   // overflow-y: auto;  /* only content scrolls */
// }

// .app-footer {
//   width: min(1120px, 100% - 2.5rem);
//   margin: 0 auto;
//   border-top: 1px solid #cfd4df;
//   padding: 1.1rem 0 1.6rem;
//   display: grid;
//   grid-template-columns: 1fr auto;
//   gap: 0.35rem 1.5rem;
//   align-items: end;
// }

.app-shell {
  height: 100dvh;
  background: #ebedf3;
}

mat-sidenav-container.app-shell {
  height: 100%;
  overflow: hidden;
}

.app-sidenav {
  width: 240px;
}

.app-main-surface {
  display: flex;
  flex-direction: column;
  height: 100%;      /* REQUIRED for toolbar visibility */
  overflow: hidden;  /* prevents unwanted scroll */
}

.app-content {
  width: min(1120px, 100% - 2.5rem);
  margin: 0 auto;
  padding: 1.25rem 0 2rem;
  flex: 1;
  overflow-y: auto;  /* only content scrolls */
}

.app-footer {
  width: min(1120px, 100% - 2.5rem);
  margin: 0 auto;
  border-top: 1px solid #cfd4df;
  padding: 1.1rem 0 1.6rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.35rem 1.5rem;
  align-items: end;
}
